
<div class="container" style='text-align:center;'> 
	
	<div>
		Hello All. Wanna know what willy is doing, where willy are, and when that shit is happening? Don't worry. Willy is getting things done.
		<br />
		
		But, for you control freak, attached is the calendar for willy's activities.
		
		<br />
		P.S: Private activities history are available upon request.  
	</div>
	
	<hr />
	
	
	<iframe src="https://www.google.com/calendar/embed?src=wtf.is.willy%40gmail.com&ctz=Asia/Jakarta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	
	
</div> <!-- /container -->


<!-- Bootstrap core JavaScript