<!DOCTYPE html>
<html>
<head>
  <title>Brandedbar</title>

<% if Rails.env.production? %>
 
				<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
				<link rel="stylesheet" 
				href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
				 
<% else Rails.env.development? %>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" 
href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
 
 
<% end %> 

			<%= stylesheet_link_tag    "application", 
						media: "all"  %>
			<%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>


<%= javascript_include_tag "application" %> 

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
</script>

</body>
</html>
